certifi==2020.4.5.1
chardet==3.0.4
DateTime==4.3
feedparser==5.2.1
idna==2.9
mysql-connector-python==8.0.20
protobuf==3.12.0
pytz==2020.1
requests==2.23.0
six==1.14.0
urllib3==1.26.5
zope.interface==5.1.0
